<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal Artesian Glam & Coture</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Royal Artesian Glam & Coture</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="home">
        <h2>Welcome the Royal Artesian Glam & Coture</h2>
        <h3>Owned by: Rajer A. Gurode</h3>
        <p>**Insert slogan here**</p>
    </section>
    
    <section id="services">
        <h2>Our Services</h2>
        <div class="service">
            <img src="haircut.jpg" alt="Haircut">
            <h3>Eyelash Care</h3>
            <p>We offer professional haircut and styling services to keep you looking your best.</p>
        </div>
        <div class="service">
            <img src="manicure.jpg" alt="Manicure">
            <h3>Service #2</h3>
            <p>Pamper your hands and feet with our expert manicure and pedicure treatments.</p>
        </div>
        <!-- Add more services as needed -->
    </section>
    
    <section id="about">
        <h2>About Us</h2>
        <p>Insert an 'About Us' text.</p>
    </section>

    <section id="book">
        <h2>Book an Appointment</h2>
        <p>Book an appointment here!</p>
        <a href="booking"><button id="book_btn">Book</button></a>
    </section>
    
    <section id="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or want to book an appointment, please feel free to contact us:</p>
        <address>
            <p>Email: <a href="mailto:rajer@theroyalartesian.com">rajer@theroyalartesian.com</a></p>
            <p>Phone: <a href="tel:+1234567890">(123) 456-7890</a></p>
        </address>
    </section>
    
    <footer>
        <p>&copy; 2023 The Royal Artesian</p>
    </footer>
</body>
</html>
